/* Estilos base del contenedor principal */
.app-container {
  @apply flex flex-col w-full;
  
}

.main-content {
  @apply flex flex-col w-full;
  flex: 1;
  padding-top: 80px;
  padding-bottom: 20px;
}