/* @tailwind base; */
/* @tailwind components; */
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: #121826;
    background-image: url("./assets/cancha.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* Capa oscura sobre el fondo */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Espacio adicional global para todos los contenedores debajo del navbar */
main {
    margin-top: 30px;
}
