/* Este archivo ya no define la clase .container para evitar conflictos con los estilos globales */

.home-title {
  color: white;
  font-size: 6rem;
  font-weight: bold;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  text-align: center;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 10;
}
